.addList {
  max-width: 250px;
}

.btnAddList {
  width: 250px;
  height: 40px;
  padding: 0px 5px;
  font-size: 16px;
  text-align: left;
  background-color: #eaebec;
  color: #a3a5a9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
