.list {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.listItem {
  width: 250px;
  height: fit-content;
  background-color: #eaebec;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.listCards {
  background-color: white;
  padding: 10px;
}

.cardBtn {
  background-color: #f5f6f8;
  width: 100%;
}
