.list {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.listItem {
  width: var(--list-width);
  height: fit-content;
  background-color: var(--clrSecondary);
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listCard {
  background-color: var(--clrPrimary);
  /* box-shadow: 0 1px 0 #091e4240; */
  padding: 7px;
  word-wrap: break-word;
  border-radius: 3px;
  position: relative;
}

.listCard:hover {
  cursor: grab;
  background-color: var(--clrPrimary900);
}

.listCard:hover .btnEdit {
  visibility: visible;
}

.btnEdit {
  background-color: var(--clrPrimary900);
  border-radius: 3px;
  padding: 8px;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 12px;
  visibility: hidden;
  z-index: 40;
}

.btnEdit:hover {
  /* #ebecf0 */
  background-color: var(--clrSecondary);
}

.cardBtn {
  background-color: #f4f5f7b3;
  width: 100%;
}
