.App {
  min-height: 100vh;
  background-color: #f5f6f8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaebec;
  color: black;
  font-size: 24px;
  height: 60px;
}

.btn {
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
}

.btnAddList {
  width: 230px;
  height: 40px;
  font-size: 16px;
  text-align: left;
  background-color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btnAddList i {
  font-size: 22px;
}

.addList {
  max-width: 230px;
  margin: 10px;
}

.textArea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
