:root {
  --clr-primary: #f5f6f8;
  --clr-secondary: #eaebec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: var(--clr-primary);
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary);
  color: black;
  font-size: 24px;
  height: 60px;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.btnAddList i {
  font-size: 22px;
}
