:root {
  --clrPrimary: #f7f7f7;
  --clrSecondary: #ebebeb;
  --clrPrimary900: #ffffffc2;
  --list-width: 300px;
  --addListBtnWidth: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.App {
  min-height: 100vh;
  background-color: var(--clrPrimary);
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clrSecondary);
  color: black;
  font-size: 24px;
  height: 60px;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.btnAddList i {
  font-style: normal;
  font-size: 20px;
}
